<div class="container d-flex">
    <form [formGroup]="loginForm" class="form-horizontal m-auto gap-3">
        <div class="form-group row">
            <label for="email" class="col-form-label">Email</label>
            <input type="email" formControlName="email" placeholder="john.doe@example.com">
        </div>
        <div class="form-group row">
            <label for="password" class="col-form-label">Password</label>
            <input type="password" formControlName="password" placeholder="********">
        </div>
        <button type="submit" (click)="login()" class="btn-primary col-sm-12 mt-3">Submit</button>
    </form>
</div>