<p>Your account details:</p>
<!-- Block level -->
<div id="account-information">
    <div class="row">
        <div class="col-sm-1 font-weight-bold">
            Email:
        </div>
        <div class="col-md-2 font-weight-bold border">
            {{account.email}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 font-weight-bold">
            Password:
        </div>
        <div class="col-md-2 font-weight-bold border">
            {{account.passwordHash}}
        </div>
    </div>    
</div>