<div class="mb-3">
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">Firstname: </label>
        <div class="col-sm-2">
            <input type="text" [formControl]="firstName" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Lastname: </label>
        <div class="col-sm-2">
            <input type="text" [formControl]="lastName" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="city" class="col-sm-2 col-form-label">City: </label>
        <div class="col-sm-2">
            <input type="text" [formControl]="city" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="address" class="col-sm-2 col-form-label">Address: </label>
        <div class="col-sm-2">
            <input type="text" [formControl]="address" class="form-control">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</div>