<div class="container d-flex align-items-center">
    <form class="form-horizontal m-auto">
        <div class="form-group row">
            <label for="firstName" class="col-form-label">Firstname</label>
            <div>
                <input type="text" [formControl]="firstName" class="form-control" placeholder="Firstname">
            </div>
        </div>
    
        <div class="form-group row">
            <label for="lastName" class="col-form-label">Lastname</label>
            <div>
                <input type="text" [formControl]="lastName" class="form-control" placeholder="Lastname">
            </div>
        </div>
    
        <div class="form-group row">
            <label for="city" class="col-form-label">City</label>
            <div>
                <input type="text" [formControl]="city" class="form-control" placeholder="City">
            </div>
        </div>
    
        <div class="form-group row">
            <label for="address" class="col-form-label">Address</label>
            <div>
                <input type="text" [formControl]="address" class="form-control" placeholder="Address">
            </div>
        </div>
    
        <button type="submit" class="col-sm-12 btn btn-primary mt-2">Submit</button>
    </form>
</div>